// Primary colors.
$dark-violet: #2d2640;
$grayish-light-blue: #95a9c6;

// Neutral colors.
$very-dark-violet: #2b272f;
$dark-grayish-violet: #837d87;
$very-light-gray: #fafafa;



// Typography.
$ff-headings: 'DM Serif Display', serif;
$fw-headings: 400;

$ff-body: 'Karla', sans-serif;
$fw-body-regular: 400;
$fw-body-bold: 700;