.footer-wrapper {
    background-color: #fafafa;
    background-image: url("../Assets/bg-pattern-footer-mobile.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-x: 0;
    background-position-y: 0;


    @media (min-width: 768px) {
        background-image: url("../Assets/bg-pattern-footer-desktop.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 530px;
        background-position-x: 0;
        background-position-y: 0;
    }

    @media (min-width: 1200px) {
        background-size: 600px;
    }



    .footer-container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 4.5rem 0;
        text-align: center;
    
        .footer-first {            
            img {
                margin-bottom: 1.5rem;
            }
    
            .footer-link {
                margin-right: 1.5rem;
                color: $dark-grayish-violet;
                font-size: 23px;
                outline: none;
                cursor: pointer;
                transition: all 0.25s ease-in-out;

                &:last-of-type {
                    margin-right: 0;
                }

                &:hover {
                    color: $very-dark-violet;
                }

                &:focus {
                    color: $very-dark-violet;
                }
                

                @media (min-width: 768px) {
                    margin-right: 1.5rem;
                }
            }
        
    
    
    
            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                img {
                    margin-bottom: 0;
                }
            }
        }
    


        .footer-second {
            &:before {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background-color: lighten($dark-grayish-violet, 30%);
                margin: 1rem 0 3rem;
            }

            @media (min-width: 768px) {
                &:before {
                    margin: 2rem 0;
                }
            }
        }
    
    
    
        .footer-links-container {
            @media (min-width: 768px) {
                display: flex;
                align-items: flex-start;
            }
    
    
            .footer-group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 2.5rem;
                &:last-of-type {
                    margin-bottom: 0;
                }
    
                @media (min-width: 768px) {
                    align-items: flex-start;
                    margin-bottom: 0;
                    margin-right: 5rem;
                }

                @media (min-width: 1000px) {
                    margin-right: 7rem;
                }

                @media (min-width: 1200px) {
                    margin-right: 10rem;
                }

                @media (min-width: 1300px) {
                    margin-right: 12rem;
                }
    
    
                h6 {
                    color: $dark-grayish-violet;
                    font-size: 16px;
                    font-weight: $fw-body-bold;
                    text-transform: uppercase;
                    margin-bottom: 2rem;

                    @media (min-width: 768px) {
                        font-size: 15.5px;
                    }
                }
    
                button {
                    background: transparent;
                    border: none;
                    outline: none;
                    font-size: 14px;
                    font-weight: $fw-body-bold;
                    text-transform: uppercase;
                    margin-bottom: 0.85rem;
                    color: $dark-violet;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.25s ease-in-out;

                    @media (min-width: 1200px) {
                        margin-bottom: 1rem;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 1px;
                        top: 100%;
                        left: 0;
                        background: $dark-grayish-violet;
                        transition: transform 0.5s;
                        transform: scaleX(0);
                        transform-origin: center;
                    }

                    &:hover {
                        color: darken($very-dark-violet, 40%);

                        &:after {
                            transform: scaleX(1);
                            transform-origin: center;
                        }
                    }
                    &:focus {
                        color: darken($very-dark-violet, 40%);

                        &:after {
                            transform: scaleX(1);
                            transform-origin: center;
                        }
                    }
                }
            }
        }
    }
}