@import "config";
@import "nav";
@import "hero";
@import "about";
@import "blog";
@import "footer";

body {
    color: $very-dark-violet;
    font-family: $ff-body;
    font-weight: $fw-body-regular;
    font-size: 16px;
    position: relative;
}

main {
    padding: 10rem 0 5rem;

    @media (min-width: 768px) {
        padding: 14rem 0 10rem;
    }

    @media (min-width: 1200px) {
        padding: 18rem 0 10rem;
    }
}

.btn {
    background: transparent;
    color: $very-light-gray;
    border: 2px solid $very-light-gray;
    outline: none;
    padding: 0.6rem 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: $fw-body-bold;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    z-index: 99;

    &:hover {
        background-color: $very-light-gray;
        color: $very-dark-violet;
    }

    &:focus {
        background-color: $very-light-gray;
        color: $very-dark-violet;
    }

    @media (min-width: 768px) {
        padding: 0.8rem 2rem;
    }
}




@keyframes enterLeft {
    from {transform: translateX(-100%);}
    to {transform: translateX(0%);}
}

@keyframes enterBottom {
    from {transform: translateY(100%);}
    to {transform: translateY(0%);}
}