.nav-wrapper {
  background-color: #ffffff;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-wrapper .nav-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 9999;
}

.nav-wrapper .nav-container .logo {
  width: 100px;
}

@media (min-width: 768px) {
  .nav-wrapper .nav-container .logo {
    width: 110px;
  }
}

@media (min-width: 768px) {
  .nav-wrapper .nav-container .mobile-btn {
    display: none;
  }
}

.nav-wrapper .nav-container .nav-menu {
  background-color: #2b272f;
  position: fixed;
  top: 4rem;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../Assets/bg-pattern-mobile-nav.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position-y: 100%;
}

@media (orientation: landscape) {
  .nav-wrapper .nav-container .nav-menu {
    background-position-y: -100%;
  }
}

@media (min-width: 768px) {
  .nav-wrapper .nav-container .nav-menu {
    background-color: transparent;
    position: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: none;
  }
}

.nav-wrapper .nav-container .nav-menu .nav-link {
  color: #fafafa;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.nav-wrapper .nav-container .nav-menu .nav-link:first-of-type {
  margin-top: 3.5rem;
}

@media (orientation: landscape) {
  .nav-wrapper .nav-container .nav-menu .nav-link {
    margin-bottom: 1.5rem;
  }
  .nav-wrapper .nav-container .nav-menu .nav-link:first-of-type {
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .nav-wrapper .nav-container .nav-menu .nav-link {
    color: #837d87;
    margin-bottom: 0;
    margin-right: 1.5rem;
    font-size: 15px;
  }
  .nav-wrapper .nav-container .nav-menu .nav-link:first-of-type {
    margin-top: 0;
  }
  .nav-wrapper .nav-container .nav-menu .nav-link:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background: #837d87;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .nav-wrapper .nav-container .nav-menu .nav-link:hover {
    color: #2b272f;
  }
  .nav-wrapper .nav-container .nav-menu .nav-link:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@media (min-width: 1000px) {
  .nav-wrapper .nav-container .nav-menu .nav-link {
    margin-right: 2rem;
    font-size: 14px;
  }
}

.nav-wrapper .nav-container .nav-menu .nav-btn {
  background: transparent;
  color: #fafafa;
  width: 90%;
  height: 58px;
  border: 2px solid #fafafa;
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (orientation: landscape) {
  .nav-wrapper .nav-container .nav-menu .nav-btn {
    background: #fafafa;
    color: #2b272f;
  }
}

@media (min-width: 768px) {
  .nav-wrapper .nav-container .nav-menu .nav-btn {
    color: #2b272f;
    border: 2px solid #2b272f;
    font-size: 15px;
    width: 130px;
    height: 40px;
  }
}

@media (min-width: 1000px) {
  .nav-wrapper .nav-container .nav-menu .nav-btn {
    font-size: 14.5px;
    width: 135px;
    height: 35px;
  }
}

.nav-wrapper .nav-container .nav-menu .nav-btn:hover {
  background: #2b272f;
  color: #fafafa;
}

.nav-wrapper .nav-container .nav-menu .nav-btn:focus {
  background: #2b272f;
  color: #fafafa;
}

.hero-wrapper {
  background-color: #2d2640;
  color: #fafafa;
  margin-top: calc(2rem + 30px);
  position: relative;
}

@media (min-width: 800px) {
  .hero-wrapper {
    margin-top: calc(3rem + 20px);
  }
}

@media (min-width: 768px) {
  .hero-wrapper .hero-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1100px) {
  .hero-wrapper .hero-container {
    padding-top: 6.5rem;
  }
}

.hero-wrapper .hero-container .hero-img-container {
  margin-bottom: -5px;
}

.hero-wrapper .hero-container .hero-img-container img {
  width: 100%;
}

@media (min-width: 768px) {
  .hero-wrapper .hero-container .hero-img-container {
    margin-bottom: 0;
    -webkit-animation: enterBottom 1s ease-in-out;
            animation: enterBottom 1s ease-in-out;
  }
  .hero-wrapper .hero-container .hero-img-container img {
    width: auto;
    margin-bottom: -100px;
  }
}

@media (min-width: 1100px) {
  .hero-wrapper .hero-container .hero-img-container img {
    margin-bottom: -150px;
  }
}

.hero-wrapper .hero-container .hero-text {
  height: 400px;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../Assets/bg-pattern-intro-left-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40vw;
  background-position-x: 0;
  background-position-y: 0;
}

@media (min-width: 768px) {
  .hero-wrapper .hero-container .hero-text {
    height: auto;
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    background-image: none;
    -webkit-animation: enterLeft 1s ease-in-out;
            animation: enterLeft 1s ease-in-out;
  }
  .hero-wrapper .hero-container .hero-text:before {
    content: "";
    height: 1px;
    width: 100px;
    background-color: #fafafa;
    margin-bottom: 2rem;
  }
}

@media (min-width: 900px) {
  .hero-wrapper .hero-container .hero-text {
    margin-right: 2rem;
  }
}

@media (min-width: 1200px) {
  .hero-wrapper .hero-container .hero-text:before {
    width: 150px;
  }
}

@media (min-width: 1300px) {
  .hero-wrapper .hero-container .hero-text {
    margin-right: 3rem;
  }
}

.hero-wrapper .hero-container .hero-text h1 {
  font-family: "DM Serif Display", serif;
  font-size: 45px;
}

@media (min-width: 500px) {
  .hero-wrapper .hero-container .hero-text h1 {
    font-size: 50px;
    width: 375px;
  }
}

@media (min-width: 768px) {
  .hero-wrapper .hero-container .hero-text h1 {
    font-size: 35px;
    width: auto;
  }
}

@media (min-width: 900px) {
  .hero-wrapper .hero-container .hero-text h1 {
    font-size: 50px;
    width: 350px;
  }
}

@media (min-width: 1100px) {
  .hero-wrapper .hero-container .hero-text h1 {
    font-size: 60px;
    width: 450px;
  }
}

@media (min-width: 1300px) {
  .hero-wrapper .hero-container .hero-text h1 {
    font-size: 65px;
    width: 470px;
  }
}

.hero-wrapper .hero-container .hero-text p {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.7px;
  margin: 1rem 0 2rem;
}

@media (min-width: 500px) {
  .hero-wrapper .hero-container .hero-text p {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .hero-wrapper .hero-container .hero-text p {
    width: auto;
  }
}

@media (min-width: 900px) {
  .hero-wrapper .hero-container .hero-text p {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .hero-wrapper .hero-container .hero-text p {
    margin: 2rem 0 2.5rem;
    line-height: 2;
  }
}

.hero-wrapper .hero-decoration-right {
  position: absolute;
  height: 250px;
  bottom: -17%;
  right: 0;
  -o-object-position: 70px 0;
     object-position: 70px 0;
}

@media (min-width: 768px) {
  .hero-wrapper .hero-decoration-right {
    height: 400px;
    top: 0;
    right: 0;
    -o-object-position: 0 -60px;
       object-position: 0 -60px;
  }
}

@media (min-width: 1100px) {
  .hero-wrapper .hero-decoration-right {
    height: 550px;
    -o-object-position: 0 -80px;
       object-position: 0 -80px;
  }
}

@media (min-width: 1300px) {
  .hero-wrapper .hero-decoration-right {
    height: 700px;
    -o-object-position: 0 -150px;
       object-position: 0 -150px;
  }
}

.hero-wrapper .hero-decoration-left {
  display: none;
}

@media (min-width: 768px) {
  .hero-wrapper .hero-decoration-left {
    display: block;
    position: absolute;
    height: 400px;
    bottom: -65%;
    left: -5%;
    z-index: 1;
  }
}

@media (min-width: 1000px) {
  .hero-wrapper .hero-decoration-left {
    left: 0;
  }
}

@media (min-width: 1100px) {
  .hero-wrapper .hero-decoration-left {
    height: 500px;
    bottom: -50%;
  }
}

.about-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .about-container {
    text-align: left;
  }
}

.about-container h2 {
  color: #2b272f;
  font-family: "DM Serif Display", serif;
  font-size: 47px;
  margin-bottom: 5rem;
}

.about-container h2:before {
  content: "";
  display: block;
  height: 1px;
  width: 140px;
  background-color: #837d87;
  margin: 0 auto 2rem;
}

@media (min-width: 768px) {
  .about-container h2 {
    font-size: 55px;
    margin-bottom: 6rem;
  }
  .about-container h2:before {
    width: 100px;
    height: 1px;
    margin: 0 0 2rem;
  }
}

@media (min-width: 1200px) {
  .about-container h2 {
    margin-bottom: 7rem;
  }
}

@media (min-width: 768px) {
  .about-container .about-services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
}

@media (min-width: 1200px) {
  .about-container .about-services {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

.about-container .about-services .service-card {
  margin-bottom: 3rem;
}

.about-container .about-services .service-card:last-of-type {
  margin-bottom: 0;
}

.about-container .about-services .service-card img {
  width: 70px;
}

.about-container .about-services .service-card h3 {
  font-family: "DM Serif Display", serif;
  font-size: 27px;
  margin: 1.5rem 0;
}

@media (min-width: 1100px) {
  .about-container .about-services .service-card h3 {
    margin: 1.3rem 0;
  }
}

.about-container .about-services .service-card p {
  color: #837d87;
  font-weight: 700;
  line-height: 1.5;
}

@media (min-width: 1100px) {
  .about-container .about-services .service-card p {
    width: 350px;
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .about-container .about-services .service-card {
    margin-bottom: 0;
  }
}

.blog-container {
  background-color: #2d2640;
  color: #fafafa;
  width: 90%;
  height: 350px;
  max-width: 1200px;
  margin: 7rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 2rem;
  background-image: url("../Assets/bg-pattern-how-we-work-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50vw;
  background-position-x: 100%;
  background-position-y: 0;
}

@media (min-width: 768px) {
  .blog-container {
    text-align: left;
    height: 200px;
    margin: 9rem auto 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: url("../Assets/bg-pattern-how-we-work-desktop.svg");
    background-size: 350px;
    background-position-x: 120%;
  }
}

@media (min-width: 1200px) {
  .blog-container {
    height: 250px;
    padding: 0 3rem;
    background-image: url("../Assets/bg-pattern-how-we-work-desktop.svg");
    background-size: 550px;
    margin: 10rem auto 0;
    padding: 0 4rem;
  }
}

.blog-container h2 {
  font-family: "DM Serif Display", serif;
  font-size: 36.5px;
  line-height: 1.2;
  margin: 0 0 3rem;
}

@media (min-width: 768px) {
  .blog-container h2 {
    font-size: 40px;
    margin: 0;
    width: 350px;
  }
}

@media (min-width: 1200px) {
  .blog-container h2 {
    font-size: 50px;
    line-height: 1.1;
    width: 450px;
  }
}

.footer-wrapper {
  background-color: #fafafa;
  background-image: url("../Assets/bg-pattern-footer-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position-x: 0;
  background-position-y: 0;
}

@media (min-width: 768px) {
  .footer-wrapper {
    background-image: url("../Assets/bg-pattern-footer-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 530px;
    background-position-x: 0;
    background-position-y: 0;
  }
}

@media (min-width: 1200px) {
  .footer-wrapper {
    background-size: 600px;
  }
}

.footer-wrapper .footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4.5rem 0;
  text-align: center;
}

.footer-wrapper .footer-container .footer-first img {
  margin-bottom: 1.5rem;
}

.footer-wrapper .footer-container .footer-first .footer-link {
  margin-right: 1.5rem;
  color: #837d87;
  font-size: 23px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.footer-wrapper .footer-container .footer-first .footer-link:last-of-type {
  margin-right: 0;
}

.footer-wrapper .footer-container .footer-first .footer-link:hover {
  color: #2b272f;
}

.footer-wrapper .footer-container .footer-first .footer-link:focus {
  color: #2b272f;
}

@media (min-width: 768px) {
  .footer-wrapper .footer-container .footer-first .footer-link {
    margin-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .footer-wrapper .footer-container .footer-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-wrapper .footer-container .footer-first img {
    margin-bottom: 0;
  }
}

.footer-wrapper .footer-container .footer-second:before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #cfcdd0;
  margin: 1rem 0 3rem;
}

@media (min-width: 768px) {
  .footer-wrapper .footer-container .footer-second:before {
    margin: 2rem 0;
  }
}

@media (min-width: 768px) {
  .footer-wrapper .footer-container .footer-links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-wrapper .footer-container .footer-links-container .footer-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.footer-wrapper .footer-container .footer-links-container .footer-group:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer-wrapper .footer-container .footer-links-container .footer-group {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
    margin-right: 5rem;
  }
}

@media (min-width: 1000px) {
  .footer-wrapper .footer-container .footer-links-container .footer-group {
    margin-right: 7rem;
  }
}

@media (min-width: 1200px) {
  .footer-wrapper .footer-container .footer-links-container .footer-group {
    margin-right: 10rem;
  }
}

@media (min-width: 1300px) {
  .footer-wrapper .footer-container .footer-links-container .footer-group {
    margin-right: 12rem;
  }
}

.footer-wrapper .footer-container .footer-links-container .footer-group h6 {
  color: #837d87;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .footer-wrapper .footer-container .footer-links-container .footer-group h6 {
    font-size: 15.5px;
  }
}

.footer-wrapper .footer-container .footer-links-container .footer-group button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.85rem;
  color: #2d2640;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (min-width: 1200px) {
  .footer-wrapper .footer-container .footer-links-container .footer-group button {
    margin-bottom: 1rem;
  }
}

.footer-wrapper .footer-container .footer-links-container .footer-group button:last-of-type {
  margin-bottom: 0;
}

.footer-wrapper .footer-container .footer-links-container .footer-group button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  background: #837d87;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.footer-wrapper .footer-container .footer-links-container .footer-group button:hover {
  color: black;
}

.footer-wrapper .footer-container .footer-links-container .footer-group button:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.footer-wrapper .footer-container .footer-links-container .footer-group button:focus {
  color: black;
}

.footer-wrapper .footer-container .footer-links-container .footer-group button:focus:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

body {
  color: #2b272f;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

main {
  padding: 10rem 0 5rem;
}

@media (min-width: 768px) {
  main {
    padding: 14rem 0 10rem;
  }
}

@media (min-width: 1200px) {
  main {
    padding: 18rem 0 10rem;
  }
}

.btn {
  background: transparent;
  color: #fafafa;
  border: 2px solid #fafafa;
  outline: none;
  padding: 0.6rem 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 99;
}

.btn:hover {
  background-color: #fafafa;
  color: #2b272f;
}

.btn:focus {
  background-color: #fafafa;
  color: #2b272f;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.8rem 2rem;
  }
}

@-webkit-keyframes enterLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes enterLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes enterBottom {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes enterBottom {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=style.css.map */